.container {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;

  margin: 16px 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;

  transition: transform 200ms ease-in-out;
  flex-shrink: 0;
}
.button--active {
  transform: scale(1.07);
}