@layer {

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    
    padding: 0.6em 1em;
    
    background-color: rgb(16, 16, 16);
    color: rgb(230, 235, 220);
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid rgb(16, 16, 16);
  
    box-sizing: border-box;
  
    transition: 300ms ease-in-out;
  }
  .button:hover {
    background-color: rgb(42, 42, 42);
    border-color: rgb(42, 42, 42);
  }
  
  .color-a {
    background-color: rgb(242, 242, 242);
    color: rgb(140, 137, 148);
    border-color: rgb(225,225,225);
  }
  .color-a:hover {
    background-color: rgb(249,249,249); 
    border-color: rgb(197,197,197);
  }
  
  .color-b {
    color: rgb(133,137,135);
    background-color: transparent;
    border: none;
  }
  .color-b:hover {
    background-color: rgba(242, 242, 242, 0.8);
  }

  .color-c {
    color: rgb(16, 16, 16);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  .color-c:hover {
    background-color: rgb(225, 225, 225);
    border-color: rgb(225, 225, 225);
  }

  .color-d {
    color: rgb(74, 74, 74);
    background-color: transparent;
    border-color: rgb(225,225,225);
  }
  .color-d:hover {
    background-color: rgb(225,225,225);
    border-color: rgb(225,225,225);
  }

}
