.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  margin: 8px 0 32px;
}

.value-container {
  display: flex;
  align-items: center;
  gap: 8px;
  
  padding: 6px 16px;
  background-color: rgb(225, 225, 225);
  border-radius: 32px;
}
.value-container:hover {
  background-color: rgb(197, 197, 197); 
}

.close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 13px;
  height: 13px;
  padding: 0 0 2px 0;
  font-size: 11px;

  color: rgb(130, 130, 130);
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 50%;

  box-sizing: border-box;
}