.nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  
  position: fixed;
  top: 0;
  left: 0;

  min-height: 100%;
  width: 100%;
  padding: 16px 0;
  
  background-color: rgb(255, 255, 255);
}
.nav--hidden {
  display: none;
}

.close-button-container {
  margin-left: auto;
  margin-right: 16px;
}

.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.siblings {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.item {
  width: 100%;
}

@media(min-width: 950px) {
  .nav {
    position: static;

    padding: 0;

    flex-direction: row;
    justify-content: flex-end;
    gap: clamp(32px, 4vw, 120px);

    background-color: transparent;
  }
  .nav--hidden {
    display: flex;
  }

  .nav-list {
    display: flex;
  }
  
  .close-button-container {
    display: none;
  }

  .item {
    width: auto;
    height: 100%;
  }
}