.nav {
  display: flex;
  background-color: red;

  height: 100%;
}

.nav-list {
  display: flex;
  
  margin: 0;
  padding: 0;

  list-style: none;
}

.siblings {
  display: flex;
  gap: 12px;
}

.item {
  height: 100%;
}