.header {
  display: flex;
  justify-content: space-between;
  gap: 48px;

  padding: 10px 16px 10px 8px;
  height: var(--header-height);
  max-width: var(--max-width);
  margin: 0 auto;

  box-sizing: border-box;
}

@media(min-width: 950px) {
  .menu-button {
    display: none;
  }
}