.head {
  margin: 0;
  
  font-size: 48px;
  line-height: 1.15;
  color: rgb(26, 26, 26);
}

.head--font-weight-normal {
  font-weight: normal;
}

.head--medium {
  font-size: 32px;
}
.head--small {
  font-size: 24px;
}
.head--smaller {
  font-size: 18px;
}
.head--tiny {
  font-size: 16px;
}