.input {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(225, 225, 255);

  padding: 8px 16px;
}

.input--search {
  padding-left: 44px;

  font-weight: bold;
  background-image: url(../assets/magnifier.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 14px 50%;
}