.footer {
  background-color: rgb(240,240,240);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8px 24px;
  
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 32px 64px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}