.container {
  display: flex;
  align-items: center;
  
  margin: 16px 0;

  border: 1px solid rgb(225, 225, 255);
}

.buttons {
  display: flex;
  flex-direction: column;

  width: 36px;
  height: 100%;
}
.buttons > * {
  flex-grow: 1;
}

.image {
  display: block;
  width: 100px;

  margin: 0 16px;
}

.data-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: 
    "a a a"
    "b c d";
  gap: 8px 32px;
  justify-content: start;
}
.item-1 {
  grid-area: a;
}
.item-2 {
  grid-area: b;
}
.item-3 {
  grid-area: c;
}
.item-4 {
  grid-area: d;
}

.color {
  width: 16px;
  height: 16px;

  border-radius: 50%;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;

  margin-left: auto;
}